* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

h1{
    margin-left: 10px;
    background-color: yellow;
    font-size: 50px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    display: inline-block;
}

h2{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    display: inline-block;
}

li{
    margin-left: 10px;
    background-color: yellow;
    font-size: 25px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    letter-spacing: 2px;
    display: inline-block;
}

img{
    margin-left: 10px;
    border-radius: 20px;
}